[Desktop Entry]
Encoding=UTF-8
Name=Points Core
Comment=Connect to the Points P2P Network
Comment[de]=Verbinde mit dem Points peer-to-peer Netzwerk
Comment[fr]=Points, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Points, eşten eşe kriptografik sanal para birimi
Exec=points-qt %u
Terminal=false
Type=Application
Icon=points128
MimeType=x-scheme-handler/points;
Categories=Office;Finance;
